<header class="header">
    <!-- Logo Section -->
     <div class="tfc_container">
      <div class="tfc_header">
        <div class="logo">
          <a [routerLink]="['']"><img src="cropped-Logo-Square-4.png" alt=""></a>
      </div>
    
      <!-- Navigation Menu -->
      <nav class="nav-menu">
        <ul>
          <li><a class="text-danger" [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['blogs']">Blogs</a></li>
          <li><a [routerLink]="['contact-us']">ContactUs</a></li>
          <li><a [routerLink]="['/about']">AboutUs</a></li>
          <li><a [routerLink]="['']">Testing</a></li>
        </ul>
      </nav>
    
    
      <!-- Profile Icon -->
      <div class="profile-icon">
        <img src="user_header.svg" alt="Profile" />
      </div>
      </div>
 
  </div>


  
  </header>
  