<footer>
    <div class="tfc_container">
        <div class="inner_container">
            <div class="col_1 flex_column">
                <h5><a href="index.html">Stove Top Protector Blog</a></h5>
                <p>Creating content for a stove shield company blog can involve a variety of topics related to kitchen
                    safety, home improvement, cooking tips, and more</p>
            </div>
            <div class="inner_li_columns_wrap flex_row">
    
                <div class="col_1 li_column flex_column">
                    <span>Topics</span>
                    <ul>
                        <li><a href="">Business</a></li>
                        <li><a href="">Technology</a></li>
                        <li><a href="">Health</a></li>
                        <li><a href="">Productivity</a></li>
                        <li><a href="">Life hacks</a></li>
                    </ul>
                </div>
    
                <div class="col_1 li_column flex_column">
                    <span>Categories</span>
                    <ul>
                        <li><a href="">Protectors Type</a></li>
                        <li><a href="">Protector Materials</a></li>
                        <li><a href="">Protector Uses</a></li>
                        <li><a href="">Protector Features</a></li>
    
                    </ul>
                </div>
    
                <div class="col_1 li_column flex_column">
                    <span>Sitemap</span>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our Blogs</a></li>
                        <li><a href="contact_us.html">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Help Center</a></li>
    
                    </ul>
                </div>
                <div class="col_1 li_column flex_column">
                    <span>Sitemap</span>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our Blogs</a></li>
                        <li><a href="contact_us.html">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Help Center</a></li>
    
                    </ul>
                </div>
            </div>
        </div>
        
        
    </div>



</footer>
