<section class="hero">
    <div class="tfc_container">
        <div class="Ananeoo_main">
            <div class="anaeoo_inner">
                <h1>Ananēoō Wellness​</h1>
                <h2>Eye & Macular <br>
                    Nano-Formula</h2>
                    <h3>Fight vision decline and nourish your eyes</h3>
                    <h2>24 Ingredients</h2>
                    <p>Medicinal Strength Nutrition</p>
                    <span>Text us at (321) 872-7444 </span>
            </div>
            <div class="anaeoo_inner">
                <img src="3-Bottles-Small-v2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="root">
    <div class="tfc_container">
        <div class="root_main">
            <div class="root_title">
                <h2>The Root Cause​</h2>
            </div>
            <div class="root_p">
                <p>As we get older, our eyes can be harmed by various factors like poor nutrition for our cells, reduced blood flow, and exposure to blue light from the sun, computers, phones, and LED lights. These factors weaken and damage the cells and tissues in our eyes, causing the macula pigment to degrade and the gel-like vitreous to become more like liquid over time.

                    When the gel-like vitreous becomes more liquid, it releases small bits of debris made up of dead protein and enzymes called “Floaters.” These floaters float around inside our eyes and eventually come into contact with each other, forming larger clumps of debris. These clumps then settle somewhere in the eyes and slowly gather more debris, causing them to spread across the surface. These clumps restrict the cells’ access to oxygen and nutrients, leading to suffocation and injury. This process also increases inflammation, creating an acidic and toxic environment that results in oxidative stress. As a result, our vision gradually declines over time.
                    
                    The combination of oxidative stress, poor nutrition, and cellular debris gives rise to various age-related eye conditions such as vision decline, cloudiness in the lenses, clogged drainage, dry eyes, retina detachment, and even blindness.</p>
            </div>
            <button [routerLink]="['blogs']" class="success" (click)="showAlert('welcome')">success</button>
        </div>

    </div>

   
</section>
